.container {
  height: 100vh;
  position: relative;
  color: var(--light-text-color);
  background-color: var(--dark-blue);
  z-index: 0;
  overflow: hidden;
}
.title-background {
  color: var(--dark-blue-contrast);
  font-size: 10rem;
  line-height: 12rem;
  text-transform: uppercase;
  position: absolute;
  top: 25vh;
  margin: 0;
  padding-left: 8vw;
  z-index: -1;

  @media (--md-viewport) {
    font-size: 7rem;
    line-height: 9rem;
    top: 12vh;
    padding-left: 1.2rem;
  }
}
.title-group {
  padding-top: 30vh;
  padding-left: 11vw;
  flex: 1;

  & h1 {
    font-size: 3.75rem;
    margin: 0;
  }
  & h2 {
    font-size: 1.5rem;
    margin: 0;
  }
  & h3 {
    margin: 0;
    font-style: italic;
  }
  @media (--md-viewport) {
    & {
      padding-top: 15vh;
      padding-left: 2rem;
    }
    & h1 {

    }
  }
}
