.container {
  position: relative;
  padding-top: 3rem;
  padding-left: 10vw;
  padding-right: 10vw;
  overflow: hidden;

  @media (--xs-viewport) {
    & {
      padding-left: 10vw;
      padding-right: 10vw;
    }
  }
}

.title {
  position: absolute;

  @media (--xs-viewport) {
    & {
      left: 0;
    }
  }
}

.grid {
  color: var(--light-yellow);
  margin-top: 6.5rem;
  display: grid;
  grid-template-columns: 5rem auto;
  grid-template-rows: auto auto;
  z-index: 2;

  & h2 {
    font-size: 1.5rem;
    color: var(--light-blue);
    margin: 0;
  }

  @media (--xs-viewport) {
    & {
      grid-template-columns: auto;
    }
  }
}

.about {
  padding-right: 10rem;
  z-index: 2;

  & p {
    margin: 0 0 0.5rem 0;
  }

  @media (--sm-viewport) {
    & {
      padding-right: 0;
    }
  }
}

.portrait {
  position: absolute;
  top: 4rem;
  right: 3rem;
  width: 30vw;
  min-width: 200px;
  max-width: 400px;
  z-index: 0;

  & img {
    background-color: var(--background);
    opacity: 0.8;
    width: 100%;
    height: auto;
  }

  @media (--sm-viewport) {
    & {
      position: relative;
      top: 13rem;
      right: 0;
      width: 100%;
      padding: 0 3rem;
      margin: 0 auto;
    }
  }
}

.skills {
  & h3 {
    font-size: 1.5rem;
    margin: 0 0 1rem 0;
  }

  & ul {
    font-size: 1.2rem;
    margin: 0 0 1rem 0;
    padding: 0;
    display: grid;
    grid-template-columns: 50% 50%;
    margin-left: 0.5rem;
    list-style-type: none;
  }

  @media (--sm-viewport) {
    & ul {
      grid-template-columns: auto;
    }
  }

  & ul li:before {
    content: "+";
    padding-right: 0.5rem;
  }
}
