.projectTitle {
  z-index: 2;
  color: var(--lighter-blue);
  position: absolute;
  top: 0;
  left: 8vw;

  @media (--xs-viewport) {
    & {
      left: 2rem;
    }
  }
}

.projectsContainer {
  padding-top: 15rem;
}
