.projectTitle {
  position: absolute;
  top: 0;
  left: 8vw;
  color: var(--lighter-blue);
  z-index: 1;
  font-size: 5rem;
  line-height: 11rem;

  @media (--xs-viewport) {
    & {
      left: 2rem;
    }
  }
}

.projectsContainer {
  padding-top: 15rem;
}
