.container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (--sm-viewport) {
    & {
      flex-direction: row;
    }
  }
}

.socialMediaButton {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  background-color: var(--light-blue);
  color: var(--dark-blue);
  text-decoration: none;
  margin: .5rem;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: var(--purple);
    transition: background-color 0.3s ease;
  }
}
