.container {
  display: flex;
  flex-wrap: wrap;
  color: var(--light-blue);
  margin: 3rem 0;
  padding: 0 10vw;

  @media (--sm-viewport) {
    & {
      flex-direction: column-reverse;
      align-items: center;
      padding: 0 2rem;
    }
  }
}

.contactMe {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: var(--header-font);
  font-size: 1.3rem;

  @media (--sm-viewport) {
    & {
      justify-content: flex-start;
      margin-bottom: 3rem;
    }
  }
}

.arrow {
  margin: 0 2rem;

  & line,
  path {
    fill: var(--light-yellow);
    stroke: var(--light-yellow);
  }
}

.contactTitle {
  margin: 0;
  color: var(--light-blue);
  text-transform: uppercase;
  font-size: 1.3rem;

  @media(--sm-viewport) {
    & {
      margin-bottom: 1rem;
    }
  }
}

.contact {
  margin: 0;
  display: flex;
  align-items: center;

  & a {
    color: var(--light-yellow);
    text-decoration: none;
  }
}
