.container {
  z-index: 1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 16rem 1fr 24rem;
  width: 100%;
  overflow: hidden;
}

.topGradient {
  background: linear-gradient(to bottom, var(--dark-blue), var(--light-blue));
}

.bottomGradient {
  background: linear-gradient(to bottom, var(--purple), var(--dark-blue));
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--light-blue);
  padding: 0 10vw;

  @media (--xs-viewport) {
    & {
      padding: 0 2rem;
    }
  }
}

.gradientBackground {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 16rem 1fr;
}

.firstColor {
  background-color: var(--light-blue);
}

.secondColor {
  background-color: var(--purple);
}

.halfwayGradient {
  background: linear-gradient(to bottom,
      var(--light-blue),
      var(--purple));
}
