.header {
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: none;
  background-color: var(--dark-blue);
  z-index: 10;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;

  @media (--md-viewport) {
    padding: 0.5rem 1rem;
  }

  --mobile-nav-size: 2.5rem;
  --link-transition: all 100ms ease;
  --menu-transition: all 250ms ease;
}

.navLink {
  font-size: 1rem;
  padding: 0 3rem;
  color: var(--light-yellow);
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-transform: lowercase;

  @media (--sm-viewport) {
    & {
      display: "none",
    }
  }
}

.navContainer {
  display: flex;
  gap: 2rem;

  @media (--md-viewport) {
    & {
      position: absolute;
      height: 100vh;
      inset: 0;
      opacity: 0;
      transform: scale(0);
      transition: var(--menu-transition);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}

.mobileNavButton {
  display: none;
  border: none;
  width: var(--mobile-nav-size);
  height: var(--mobile-nav-size);
  background-color: var(--dark-blue);
  position: relative;
  padding: 0 0.6rem;
  cursor: pointer;
  z-index: 11;

  @media (--md-viewport) {
    & {
      display: block;
    }
  }
}

.mobileNavOpen {
  @media (--md-viewport) {
    & {
      opacity: 1;
      transform: scale(1);
      transition: var(--menu-transition);
      background-color: var(--dark-blue);
    }
  }
}

.hamburgerIcon {
  position: relative;
  flex: none;
  width: 100%;
  height: 2px;
  background-color: var(--light-blue);
  transition: var(--menu-transition);

  &:before,
  &:after {
    content: "";
    position: absolute;
    z-index: 1;
    top: calc(var(--mobile-nav-size) / -6);
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--light-blue);
    transition: var(--menu-transition);
  }

  &:after {
    top: calc(var(--mobile-nav-size) / 6);
  }
}

.closeIcon {
  transform: rotate(135deg);

  &:before,
  &:after {
    top: 0;
    transform: rotate(90deg);
  }

  &:after {
    opacity: 0;
  }
}
