.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-width: 400px;
  max-width: 600px;
  width: 50%;

  @media (--md-viewport) {
    & {
      width: 100%;
      margin-top: 2rem;
    }
  }
}

.title {
  position: absolute;
  top: -2rem;
  z-index: 3;
  white-space: nowrap;
  background-color: var(--light-yellow);
  color: var(--dark-blue);
  padding: 1rem;
  margin: 0;
  font-family: var(--header-font);
  font-size: 3rem;
}

.thumbnail {
  width: 100%;
  height: auto;
  opacity: 0.5;
}
