header {
  background-color: var(--dark-blue);
  padding: 1rem var(--padding);
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

a {
  color: var(--light-text-color);
  text-decoration: none;
  margin: 0 3rem;
}
a:last-child {
  margin-right: 0;
}
