:root {
  --dark-blue: #0E0827;
  --dark-blue-contrast: #1F294F;
  --light-blue: #9DC7E2;
  --light-blue-contrast: #C0D8E8;
  --purple: #969BCC;
  --light-text-color: #D7DFC2;
  --header-font: 'Fjalla One', serif;
  --body-font: 'Geo', serif;
  --padding: 4rem;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: var(--body-font);
  font-size: 16px;
}
