$blue: #58A2DB;
$brown: #9B9A86;
$white: #FFFEDF;
$darkgray: #2A2C31;
$gray: #3E4147;

body {
  font-family: 'Roboto', sans-serif;
}
.navbar {
  background-color: $darkgray;
  color: $white;
  font-family: 'Roboto', sans-serif;
}
.navbar-brand {
  font-family: 'Ultra', serif;
}
h1 {
  font-family: 'Ultra', serif;
}
h2 {
  font-family: 'Ultra', serif;
}
h3 {
  font-family: 'Ultra', serif;
}
